*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#elem{
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: red;
}

#circ1{
    background-color: rgba(137, 43, 226, 0.719);
    /* left: 42%; */
}
#circ2{
    background-color: rgba(43, 159, 226, 0.719);
    /* left: 47%; */
}
#circ3{
    background-color: rgba(231, 59, 59, 0.719);
    /* left: 52%; */
}
#circ4{
    background-color: rgba(93, 214, 168, 0.719);
    /* left: 57%; */
}